*, ::after, ::before {
    box-sizing: border-box;
}
.slides-navigation .prev,
.slides-navigation .next {
    font-size: 3rem;
    color: aquamarine;
    margin: 0 1rem;
}

.slides-navigation {
    z-index: 6;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,0.7);
}
.overlaya{
    position: absolute;
    width: 100%;
    height: 20rem;
    background-color: rgba(0,0,0,0.7);
    z-index: 0;
}
.overlayb{
    position: absolute;
    width: 100%;
    height: 20rem;
    background-color: rgba(0,0,0,0.7);
    z-index: 0;
}
.title-message {
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.title-message .heading p {
    color: aquamarine;
    font-weight: 900;
}

.title-message .heading .main {
    font-size: 3rem;
}
.title-message .heading span {
    color: aquamarine;
    font-size: 1.5rem;
    height: 2rem;
}

#about .about-image {
    width: 300px;
}

section {
    margin: 7rem 0;
}

/* Section Technical Skills */
#skills {
    color: aquamarine;
    /* background-color:  rgb(111, 194, 166); */
    
}
#skills img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 20rem;
    z-index: 0;
}
.row{
    z-index: 1;
    margin-bottom: 10px;
}
.row h2{
    position: relative;
    margin-top: 10px;
}
.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    color: aquamarine;
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: aquamarine;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}

.square{
    position: relative;
    margin-top: 30px;
}
.square-top{
    border-top: 1px solid black;
}
.square-container{
    border: 2px solid black;
    text-align: center;
}
.stats .container .row{
    text-align: center;
}
.icon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

.squareItem {
    margin-top: 30px;
      position: relative;
  }
  
  .squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
  }
  
  .squareInnerContainer:before,
  .squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
  }
  
  
  .squareInnerContainer:before {
    right: 0px;
  }
  
  .squareInnerContainer:after {
    left: 0px
  }
  
  
  .squareContent h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 400;
    color: rgb(113, 226, 188);
  }
  .squareContent-a h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 400;
    color: rgb(113, 226, 188);
  }
  .squareContent-m h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 400;
    color: rgb(113, 226, 188);
  }
  
  .squareContent h2:after {
    content: '+';
  }
  .squareContent-a h2:after {
    content: '';
  }
  .squareContent-m h2:after {
    content: '';
  }
  
  .squareContent h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
  }
  .squareContent-a h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
  }
  .squareContent-m h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
  }
  
  .squareIcon {
    position: absolute;
      left: 50%;
      top: -30px;
      width: 40%;
      height: 60px;
      font-size: 45px;
      margin-left: -20%;
      color: #444;
  }

.contact{
    margin: 7rem 0;
    height: 20rem;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 20rem;
    z-index: 0;
}
.main-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aquamarine;
    position: relative;
    z-index: 1;
}
.contactButton {
    color: aquamarine;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid aquamarine;
    border-radius: 2px;
    text-decoration: none;
}
.contactButton:hover {
    text-decoration: none;
    color: #000;
    background-color: aquamarine;
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}